main{
    width: 100%;
    height: 100vh;
    background-image: url(../media/bg\ color5.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    h2{
        padding-top: 60px;
        color: #fff;
        font-size: 40px;
        span{
            font-size: 50px;
            color: red;
        }
    }
    .gallery{
        position: relative;
        img{
            padding-top: 150px;
            width: 300px;
            transition: all .4s ease;
            &:hover{
                transform: scale(1.3);
                overflow: hidden;
            }
        }
        
    }
}